# Dependencies
node_modules/
package-lock.json

# Angular / React / Next.js build
dist/
build/
.next/
out/

# Environment variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# Cache
.angular/
.cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/